<div class="data-protection-settings">
  <fieldset class="box">
    <legend><%= l(:label_general_settings) %></legend>
    <p>
      <label><%= l(:label_enable_sensitive_data_detection) %></label>
      <%= check_box_tag 'settings[enable_sensitive_data_detection]', '1', @settings['enable_sensitive_data_detection'] %>
      <em class="info"><%= l(:text_enable_sensitive_data_detection_info) %></em>
    </p>

    <p>
      <label><%= l(:label_enable_personal_data_detection) %></label>
      <%= check_box_tag 'settings[enable_personal_data_detection]', '1', @settings['enable_personal_data_detection'] %>
      <em class="info"><%= l(:text_enable_personal_data_detection_info) %></em>
    </p>

    <p>
      <label><%= l(:label_log_violations) %></label>
      <%= check_box_tag 'settings[log_violations]', '1', @settings['log_violations'] %>
      <em class="info"><%= l(:text_log_violations_info) %></em>
    </p>

    <p>
      <label><%= l(:label_log_to_database) %></label>
      <%= check_box_tag 'settings[log_to_database]', '1', @settings['log_to_database'] %>
      <em class="info"><%= l(:text_log_to_database_info) %></em>
    </p>

    <p>
      <label><%= l(:label_auto_cleanup_days) %></label>
      <%= number_field_tag 'settings[auto_cleanup_days]', @settings['auto_cleanup_days'], 
          min: 1, max: 365, size: 5 %>
      <em class="info"><%= l(:text_auto_cleanup_days_info) %></em>
    </p>
  </fieldset>
</div>
