<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'data_protection_guard', plugin: 'data_protection_guard' %>
<% end %>

<div class="contextual">
  <%= link_to l(:label_data_protection_logs), { action: :logs }, class: 'icon icon-report' %>
  <%= link_to l(:button_load_defaults), { action: :load_defaults }, method: :post, 
      class: 'icon icon-reload', 
      data: { confirm: l(:text_confirm_load_defaults) },
      title: l(:text_load_defaults_info) %>
</div>

<h2><%= l(:label_data_protection_settings) %></h2>

<%= form_tag({ action: :settings }, method: :post) do %>
  <div class="data-protection-settings">
    <fieldset class="box">
      <legend><%= l(:label_general_settings) %></legend>
      <p>
        <label><%= l(:label_enable_sensitive_data_detection) %></label>
        <%= check_box_tag 'settings[enable_sensitive_data_detection]', '1', @settings['enable_sensitive_data_detection'] %>
        <em class="info"><%= l(:text_enable_sensitive_data_detection_info) %></em>
      </p>

      <p>
        <label><%= l(:label_enable_personal_data_detection) %></label>
        <%= check_box_tag 'settings[enable_personal_data_detection]', '1', @settings['enable_personal_data_detection'] %>
        <em class="info"><%= l(:text_enable_personal_data_detection_info) %></em>
      </p>

      <p>
        <label><%= l(:label_block_submission) %></label>
        <%= check_box_tag 'settings[block_submission]', '1', @settings['block_submission'] %>
        <em class="info"><%= l(:text_block_submission_info) %></em>
      </p>

      <p>
        <label><%= l(:label_log_violations) %></label>
        <%= check_box_tag 'settings[log_violations]', '1', @settings['log_violations'] %>
        <em class="info"><%= l(:text_log_violations_info) %></em>
      </p>

      <p>
        <label><%= l(:label_log_to_database) %></label>
        <%= check_box_tag 'settings[log_to_database]', '1', @settings['log_to_database'] %>
        <em class="info"><%= l(:text_log_to_database_info) %></em>
      </p>
    </fieldset>

    <fieldset class="box">
      <legend><%= l(:label_sensitive_data_patterns) %></legend>
      <p>
        <label><%= l(:label_sensitive_patterns) %></label>
        <%= text_area_tag 'settings[sensitive_patterns]', 
            @settings['sensitive_patterns'].is_a?(Array) ? @settings['sensitive_patterns'].join("\n") : @settings['sensitive_patterns'], 
            rows: 10, 
            class: 'wiki-edit',
            placeholder: l(:text_sensitive_patterns_placeholder) %>
        <em class="info"><%= l(:text_sensitive_patterns_info) %></em>
      </p>
    </fieldset>

    <fieldset class="box">
      <legend><%= l(:label_personal_data_patterns) %></legend>
      <p>
        <label><%= l(:label_personal_patterns) %></label>
        <%= text_area_tag 'settings[personal_patterns]', 
            @settings['personal_patterns'].is_a?(Array) ? @settings['personal_patterns'].join("\n") : @settings['personal_patterns'], 
            rows: 10, 
            class: 'wiki-edit',
            placeholder: l(:text_personal_patterns_placeholder) %>
        <em class="info"><%= l(:text_personal_patterns_info) %></em>
      </p>
    </fieldset>

    <fieldset class="box">
      <legend><%= l(:label_exclusions) %></legend>
      <p>
        <label><%= l(:label_excluded_fields) %></label>
        <%= text_field_tag 'settings[excluded_fields]', 
            @settings['excluded_fields'].is_a?(Array) ? @settings['excluded_fields'].join(", ") : @settings['excluded_fields'], 
            size: 50,
            placeholder: l(:text_excluded_fields_placeholder) %>
        <em class="info"><%= l(:text_excluded_fields_info) %></em>
      </p>

      <p>
        <label><%= l(:label_excluded_projects) %></label>
        <%= text_field_tag 'settings[excluded_projects]', 
            @settings['excluded_projects'].is_a?(Array) ? @settings['excluded_projects'].join(", ") : @settings['excluded_projects'], 
            size: 50,
            placeholder: l(:text_excluded_projects_placeholder) %>
        <em class="info"><%= l(:text_excluded_projects_info) %></em>
      </p>
    </fieldset>

    <fieldset class="box">
      <legend><%= l(:label_test_pattern) %></legend>
      <p>
        <label><%= l(:label_test_content) %></label>
        <%= text_area_tag 'test_content', '', rows: 5, class: 'wiki-edit' %>
      </p>
      <p>
        <label><%= l(:label_test_pattern) %></label>
        <%= text_field_tag 'test_pattern', '', size: 50 %>
        <%= link_to l(:button_test), '#', id: 'test-pattern-btn', class: 'button' %>
      </p>
      <div id="test-result" style="display: none;">
        <h4><%= l(:label_test_result) %></h4>
        <div id="test-result-content"></div>
      </div>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= submit_tag l(:button_save), class: 'button-positive' %>
    <%= link_to l(:button_load_defaults), { action: :load_defaults }, method: :post, 
        class: 'button', 
        data: { confirm: l(:text_confirm_load_defaults) } %>
    <%= link_to l(:button_cancel), { action: :settings }, class: 'button' %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#test-pattern-btn').click(function(e) {
      e.preventDefault();
      
      var content = $('#test_content').val();
      var pattern = $('#test_pattern').val();
      
      if (!content || !pattern) {
        alert('<%= j l(:text_please_provide_content_and_pattern) %>');
        return;
      }
      
      $.post('<%= url_for(action: :test_pattern) %>', {
        content: content,
        pattern: pattern
      }, function(data) {
        if (data.success) {
          var result = '<p><strong><%= j l(:label_matches_found) %>:</strong> ' + data.count + '</p>';
          if (data.matches.length > 0) {
            result += '<ul>';
            data.matches.forEach(function(match) {
              result += '<li>' + $('<div>').text(match).html() + '</li>';
            });
            result += '</ul>';
          }
          $('#test-result-content').html(result);
        } else {
          $('#test-result-content').html('<p class="error">' + data.error + '</p>');
        }
        $('#test-result').show();
      });
    });
  });
<% end %>
